{{ define "main" }}
<div class="phi-list">
  {{ range (where .Site.RegularPages "Section" "in" .Site.MainSections).GroupByDate "2006" }}
    <div class="phi-list--section">
      <h1>{{ .Key }}</h1>
    </div>
    {{ range .Pages }}
    <div class="phi-list--item">
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format (default ":date_long" (T "datetime.date")) }}
      {{ with .AllTranslations }}
      <div class="phi-list--info">
        <div class="phi-list--translations">
          {{ range . }}
          <a class="phi-translation" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
          {{ end }}
        </div>
        {{ end }}
        <time class="phi-list--time" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
    </div>
    {{ end }}
  {{ end }}
</div>
{{ end }}