{{ define "main" }}
<div class="phi-post">
  <h1 class="phi-post--title">{{ .Title }}</h1>
  <div class="phi-post--info">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{/* {{ $dateHuman := .Date | time.Format (default ":date_full" (T "datetime.date")) }} */}}
    {{ $dateHuman := .Date | time.Format (default ":date_long" (T "datetime.date")) }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ with .GetTerms "tags" }}
    <div class="phi-post--tags">
      {{ range . }}
        <a class="phi-post--tag" href="{{ .RelPermalink }}">{{ .LinkTitle | strings.ToLower }}</a>
      {{ end }}
    </div>
    {{ end }}
    <!-- {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
  </div>
  <div class="clear"></div>
  {{ if and .IsTranslated (collections.In .Site.MainSections .Section) }}
  <div class="phi-post--translations">
    <span class="available">{{ T "posts.translations.available" (len .Translations) | strings.FirstUpper }}</span>
    {{ range .Translations }}
    <a class="phi-translation" href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
    {{ end }}
  </div>
  {{ end }}
  <div class="phi-post--body md">
  {{ .Content }}
  </div>
  {{ partial "plugins.html" . }}
{{ end }}
