@import 'helpers';

@include ie {
  body {}
}

.md abbr {
  cursor: help;
  text-decoration: none;
  @include themify {
    border-bottom: .1em dotted theme('text');
    @include ie {
      text-decoration: none;
    }
  }
}

.md > *:first-child {
  margin-top: 0 !important;
}

.md blockquote {
  margin-left: 0;
  overflow: hidden;
  
  padding: 0 .5em;
  @include themify {
    border-left: .25em solid theme('md-blockquote-bar');
    background: theme('md-blockquote-background');
  }
}

// body {
//   border-left: 1px solid #000;
//   border-right: 1px solid #000;
// }

.md {
  h1 {
    margin-bottom: 1rem;
  }
  ul p {
    margin: .5em 0;
  }
  p, blockquote, ul, ol, dl, table, pre {
    margin-bottom: 1rem;
  }
  @include themify {
    a, p a, li a {
      transition: background-color 300ms ease-in, color 300ms ease-in, box-shadow 300ms ease-in;
      border-bottom: .125em solid theme('md-anchor-bar');
    }
    * a {
      transition: none;
      border-bottom: none;
    }
    a:hover, p a:hover, li a:hover {
      box-shadow: inset 0 -.5em 0 theme('md-anchor-bar');
      border-bottom: .125em solid theme('md-anchor-bar');
      @include ie {
        border-bottom: .25em solid theme('md-anchor-bar');
      }
    }
    * a:hover {
      box-shadow: none;
      border-bottom: none;
    }
  }
}

.md table, .md figure, .md img {
  max-width: 100%;
}

.md .highlight, .md > code, .md > pre {
  font-size: .875em;
  overflow-x: scroll;
  max-width: 100%;
}

.md {
  thead th {
    padding: .5em;
  }
  tbody td {
    padding: .5em;
  }
  @include themify {
    table {
      border-collapse: collapse;
      display: table;
      border-top: .125em solid theme('text');
      border-bottom: .125em solid theme('text');
    }
    thead {
      border-bottom: .125em solid theme('text');
    }
  }
  @include themify {
    @include ie {
      thead th {
        border-bottom: .125em solid theme('text');
      }
    }
  }
}

@include ie {
  .md pre {
    word-wrap: normal;
  }
  
  .md pre {
    width: auto !important;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin: 1em 0;
  }
  
  .md * pre {
    width: auto;
    overflow: hidden;
    margin: 0;
  }
  
  .md .highlight {
    width: auto !important;
    width: 100%;
    margin: 1em 0;
  }
  
  .md figure, .md img {
    width: auto !important;
    width: 100%;
  }
  
  .md .highlight {
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}
